@model Bangazon_Workforce.Models.Department

@{
    ViewData["Title"] = "Details";
}
    <br />
    <h1>@Html.DisplayFor(model => model.Name)</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                Employees
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
               $@Html.DisplayFor(model => model.Budget)
            </td>
            <td>
                <ul>

                    @foreach (var employee in Model.Employees)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => employee.FirstName)  @Html.DisplayFor(modelItem => employee.LastName)
                        </li>
                    }
                </ul>
            </td>
        </tr>
    </tbody>
</table>
<div>
    <a class="btn btn-link" asp-action="Index">Back to List</a>
</div>
